spring:
  application:
    name: rest-with-spring-boot-java-erudio

  datasource:
    url: jdbc:postgresql://localhost:5432/rest_with_spring_boot_java_erudio
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8080

